.App-header {
  /* background-color: #0053f8; */
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  background-image: "./data/3690.jpg";
}
.navBarpropio {
  background-color: #18044f;
  opacity: 0.5;
}
